SERVER_IP=localhost

EMS_SERVER_IMAGE=registry.gitlab.com/nebulous-project/ems-main/ems-server
EMS_SERVER_IMAGE_TAG=experiment4

# --- EMS-specific settings ---
# P_BAGUETTE_SERVER_ADDRESS=10.10.254.111
P_WEB_API_KEY_VALUE=1234567890
P_WEB_ADMIN_PASSWORD=ems
P_KEYSTORE_PASSWORD=ENC(ISMbn01HVPbtRPkqm2Lslg==)
P_BROKERCEP_CREDENTIALS=ENC(axeJUxNHajYfBffUwvuT3kwTgLTpRliDMz/ZQ9hROZ3BNOv0Idw72NJsawzIZRuZ)
P_BAGUETTE_SERVER_CREDENTIALS=ENC(y46CiW6przlpXvz8ToE+T1Sn6uGfO2haP7OhATB0SXo=)

# --- New EMS-specific settings ---
P_JASYPT_PASSWORD=password
P_JWT_SECRET=ENC(I0mRWgH2FVDDNs4OBcdh7Z+o3lOQDa3ztaEtmnXT2HN0aClkChp/lqm9zM5HyTk0stJ7v2Di75U=)

# --- VM-specific settings ---
P_VM_IMAGE=vm-with-java-and-python
P_VM_BASE_IMAGE=eclipse-temurin:21.0.6_7-jre
P_VM_ROOT_PASSWORD=experiment
P_EMS_CLIENT_IMAGE=registry.gitlab.com/nebulous-project/ems-main/ems-client:experiment4